<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="mitarbeiter_table" value="mitarbeiter"/>
  <add key="mitarbeiter_id" value="mitarbeiter_id"/>
  <add key="mitarbeiter_kennung" value="mitarbeiterkennung"/>
  <add key="mitarbeiter_name" value="name"/>
  <add key="mitarbeiter_vorname" value="vorname"/>
  <add key="mitarbeiter_fähigkeiten" value="faehigkeiten"/>
  <add key="mitarbeiter_schicht" value="schicht_id"/>
  <add key="mitarbeiter_telefon" value="telefon"/>
  <add key="mitarbeiter_mobil" value="mobil"/>
  <add key="mitarbeiter_telefonIntern" value="tel_intern"/>
  <add key="mitarbeiter_faxIntern" value="fax_intern"/>
  <add key="mitarbeiter_email" value="e_mail"/>

  <add key="schicht_table" value="schichten"/>
  <add key="schicht_id" value="schicht_id"/>
  <add key="schicht_bezeichnung" value="bezeichnung"/>

  <add key="schichtzeit_table" value="schichtzeiten"/>
  <add key="schichtzeit_id" value="schicht_id"/>
  <add key="schichtzeit_beginn" value="beginn"/>
  <add key="schichtzeit_ende" value="ende"/>

  <add key="auftraggeber_table" value="auftraggeber"/>
  <add key="auftraggeber_id" value="auftraggeber_id"/>
  <add key="auftraggeber_firma" value="firma"/>
  <add key="auftraggeber_name" value="name"/>
  <add key="auftraggeber_vorname" value="vorname"/>
  <add key="auftraggeber_email" value="e_mail"/>
  <add key="auftraggeber_telefon" value="telefon"/>
  <add key="auftraggeber_mobil" value="mobil"/>
  <add key="auftraggeber_fax" value="fax"/>

  <add key="auftrag_table" value="auftraege"/>
  <add key="auftrag_id" value="auftrag_id"/>
  <add key="auftrag_auftraggeber" value="auftraggeber_id"/>
  <add key="auftrag_auftragsart" value="auftragsart_id"/>
  <add key="auftrag_sollzeit" value="sollzeit"/>
  <add key="auftrag_bezeichnung" value="bezeichnung"/>
  <add key="auftrag_beschreibung" value="beschreibung"/>
  <add key="auftrag_status" value="status"/>
  <add key="auftrag_starttermin" value="starttermin"/>
  <add key="auftrag_endtermin" value="endtermin"/>
  <add key="auftrag_auftragsendtermin" value="auftragsendtermin"/>

  <add key="auftragsart_table" value="auftragsarten"/>
  <add key="auftragsart_id" value="auftragsart_id"/>
  <add key="auftragsart_bezeichnung" value="bezeichnung"/>

  <add key="vergeben_table" value="vergebene_auftraege"/>
  <add key="vergeben_auftrag" value="auftrag_id"/>
  <add key="vergeben_mitarbeiter" value="mitarbeiter_id"/>

  <add key="adresse_table" value="adressen"/>
  <add key="adresse_id" value="adresse_id"/>
  <add key="adresse_land" value="land"/>
  <add key="adresse_stadt" value="stadt"/>
  <add key="adresse_postleitzahl" value="postleitzahl"/>
  <add key="adresse_straße" value="straße"/>
  <add key="adresse_hausnummer" value="hausnummer"/>
  <add key="adresse_adresszusatz" value="adresszusatz"/>
  <add key="adresse_auftraggeber" value="auftraggeber_id"/>
  <add key="adresse_mitarbeiter" value="mitarbeiter_id"/>
  <add key="adresse_adresstyp" value="adresstyp"/>
</appSettings>